<div class="bg-[#111827] border border-gray-700 rounded-lg p-4 mb-3 flex justify-between">

  <!-- LEFT -->
  <div>
    <div class="text-green-200 font-semibold">
      {{ event.flightId }} | {{ event.eventType }}
    </div>

    <div class="text-sm text-gray-400">
      ALT {{ event.altitude }} ft | HDG {{ event.heading }}
    </div>

    <div class="text-xs text-gray-500">
      {{ event.location }}
    </div>
  </div>

  <!-- RIGHT -->
  <div class="text-right">

    <div
      class="px-2 py-1 rounded text-xs"
      [ngClass]="{
        'bg-green-600': event.severity === 'LOW',
        'bg-yellow-500 text-black': event.severity === 'MEDIUM',
        'bg-orange-600': event.severity === 'HIGH',
        'bg-red-600': event.severity === 'CRITICAL'
      }">
      {{ event.severity }}
    </div>

    <div class="text-xs text-gray-400 mt-1">
      {{ event.status }}
    </div>

    <div class="flex gap-2 mt-2 justify-end">

      <button
        class="px-2 py-1 bg-yellow-500 text-black rounded text-xs"
        (click)="onAck()">
        ACK
      </button>

      <button
        class="px-2 py-1 bg-red-600 text-white rounded text-xs"
        (click)="onResolve()">
        RES
      </button>

    </div>

  </div>

</div>